[[source]]
url = "http://pypi.douban.com/simple"
verify_ssl = false
name = "pypi"

[packages]
pelican = "*"
markdown = "*"
typogrify = "*"
pycryptodome = "*"
Fabric3 = "*"
ghp-import = "*"
jupyter = "*"
lxml = "*"
"beautifulsoup4" = "*"

[dev-packages]

[requires]
python_version = "3.6"
